.Dribbble {
  text-align: center;
}

.Dribbble-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Dribbble-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Dribbble-intro {
  font-size: large;
}

@keyframes Dribbble-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
